@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap";

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins";
	background: #1f2028;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

h1,
h2,
h3,
h4 {
	text-align: center;
	margin: 0;
	color: #f7f7f7;
}

h1 {
	font-size: 4rem;
	line-height: 1.15;
	color: #63a2ec;
}

h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
