@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.hidden {
	position: absolute;
	left: -10000px;
}

.skip {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #222;
	color: white;
	padding: 0.5rem;
	translate: 0 -100%;
	transition: all 0.3s linear;
}

.skip:focus {
	translate: 0;
}

.container {
	padding: 0 1em;
}

.landing {
	display: grid;
	place-items: center;
	margin-bottom: 15rem;
	gap: 1rem;
}

.section {
	margin-bottom: 15rem;
	/* gap: 1rem; */
}
.img {
	margin: 10rem auto;
	border-radius: 1rem;
}

.container_text {
	color: #1b1b3a;
	margin: 1rem auto;
	padding: 1em;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
	font-size: 2rem;
	text-align: center;
	max-width: 32rem;
}

@media screen and (max-width: 48rem) {
	.container_text {
		font-size: 1.5rem;
		padding: 0 1em;
		max-width: 18rem;
	}
}

@media screen and (max-width: 48rem) {
	.nav {
		flex-direction: column;
		font-size: 1.5rem;
	}
	.nav ul {
		flex-direction: column;
		gap: 1rem;
	}
	.nav li a {
		font-size: 1.5rem;
	}
}

.nav {
	padding: 1em;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 2rem;
	font-size: 2rem;
	letter-spacing: 0.25rem;
	background-color: #1b1b3a;
}
.nav h3 {
	font-family: "Permanent Marker";
	color: #e5edf4;
	transition: all 0.3s linear;
}
.nav h3:hover,
.nav h3:focus,
.nav h3:active {
	color: #228b22;
}
.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
	text-align: center;
	align-items: center;
}
.nav li a {
	height: 100%;
	transition: all 0.3s linear;
	font-size: 2rem;
	display: flex;
	align-items: center;
	padding: 0.25rem;
}

.nav li a.active {
	background-color: #226d22;
}

.nav li a:hover,
.nav li a:focus {
	background-color: #228b22;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #1b1b3a;
	justify-content: center;
	align-items: center;
	background-color: #1b1b3a;
}
.footer ul {
	list-style: none;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title a,
.title Link {
	color: #9acd32;
	text-decoration: none;
}

.title h1 {
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	color: #228b22;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	font-family: "Permanent Marker";
	text-align: center;
}

.logo {
}

.logo:hover,
.logo:focus,
.logo:active {
	color: #228b22;
}

.description a {
	color: #9acd32;
}

.grid {
	border-radius: 1rem;
	margin: 2rem auto;
	padding: 1em 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 57rem;
	/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: #e5edf4;
	background-color: #262548;
	text-decoration: none;
	border: 2px solid #eaeaea;
	border-radius: 1rem;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 30rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card:hover,
.card:focus,
.card:active {
	color: #63a2ec;
	border: 2px solid #228b22;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
	color: #e5edf4;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

/* .logo {
	height: 1em;
	margin-left: 0.5rem;
} */

.button {
	background-color: #333a60;
	color: #fff;
	padding: 0.5rem 0.75rem;
	margin: 0.5rem;
	font-size: 1rem;
	text-transform: capitalize;
	border: 2px solid black;
	border-radius: 1rem;
	cursor: pointer;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button:hover,
.button:focus,
.button:active {
	border-color: #228b22;
	background-color: #513e9b;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 60rem) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
}

.form {
	text-align: left;
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	flex-direction: column;
	border-radius: 1rem;
	background-color: #262548;
	padding: 2rem;
	max-width: 80rem;
	margin: 1rem auto;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.form input {
	width: 100%;
	border: 2px solid black;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.form input:focus,
.form input:hover,
.form input:active {
	border-color: #63a2ec;
}

.form label {
	padding: 0;
	margin: 0;
	color: #b9cfe6;
}

.arrowBtn {
	min-width: 130px;
	height: 40px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	overflow: hidden;
	border-radius: 5px;
	border: none;
	background-color: #3d348b;
}
.arrowBtn:hover {
	border-radius: 5px;
	padding-right: 24px;
	padding-left: 8px;
}
.arrowBtn:hover:after {
	opacity: 1;
	right: 10px;
}
.arrowBtn:after {
	content: "\00BB";
	position: absolute;
	opacity: 0;
	font-size: 20px;
	line-height: 40px;
	top: 0;
	right: -20px;
	transition: 0.4s;
}

